<div class="forms-block">
  {{#each inventory.regalia.items as |item iid|}}
    <div class="forms-column tooltip {{#if system.effectsActive}} effectActive {{/if}}">
      {{#if system.description}}<span class="tooltip-text">{{#with (lookup ../inventory.regalia.descriptions @index)}}{{{this}}}{{/with}}</span>{{/if}}
      <div class="top-row"> 
        <span class="item-image" style="background-image: url({{item.img}})"  data-item-id="{{item._id}}" title="Transform"></span>
        <span class="item-name"> 
          <div>{{item.name}}</div>
          <div class="subname">({{system.subname}})</div>
        </span>
        <span class="button-panel">
          <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
          <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
        </span>
      </div>
      <div class="effect-list">
        {{#each system.effects}}
          <div> {{addPlus this.value}} {{translateTrait this.name}} </div>
        {{/each}}
      </div>
      <div class="description">
        {{breaklines system.description_short}}
      </div>
    </div>
  {{/each}}
</div>

<div class="attributes-flexrow">
  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">{{localize "MTA.Invocation"}}</span>
      <span class="attribute-valueHeader">{{localize "MTA.Value"}}</span>
    </li>
    {{#each config.princessInvocations_Common as |cvalue ckey|}}
      {{{rollableInput ../actor "princessInvocations_Common" ckey}}}
    {{/each}}
  </ol>
<!-- Custom Invocations-->
  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">{{localize "MTA.Invocation"}}</span>
      <span class="attribute-valueHeader">{{localize "MTA.Value"}}</span>
    </li>
    {{#each config.princessInvocations_Unique as |cvalue ckey|}}
      {{{rollableInput ../actor "princessInvocations_Unique" ckey}}}
    {{/each}}
    {{#each system.invocation_own as |attr key|}}
      <li class="attribute flexrow invocation" data-attribute="{{key}}">
        <span>
          <input class="attribute-check" id="invocation_own{{attr.label}}{{key}}{{../actor._id}}" data-trait="invocation_own.{{key}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="invocation_own{{attr.label}}{{key}}{{../actor._id}}">{{attr.label}}</label>
          <input class="button invocation-name invisible" type="text" name="system.invocation_own.{{key}}.label" value="{{attr.label}}" />

          
          <span class="button invocation-delete" data-attribute="{{key}}" title="Delete Invocation"><i class="fas fa-times-circle"></i></span>
          <span class="button invocation-edit" data-item-id="{{key}}" title="Edit Invocation"><i class="fas fa-edit"></i></span>
        </span>
        <span class="attribute-mod {{#if isModified}}{{posneg final value}}{{/if}}">{{#if isModified}} ({{final}}){{/if}}</span>
        <input class="attribute-value" type="number" name="system.invocation_own.{{key}}.value" value={{attr.value}} data-dtype="Number" min="0" max="10" />
      </li>
    {{/each}}
    <li class="button invocation-create">
      {{localize "MTA.ButtonAdd"}}
    </li>
  </ol>
  <div class="flex-col">
    {{{bigStatBox actor false "princess_traits.innerLight"}}}

    <div class="kInput statBox big">
      <h4>
        <div class="button charMacroButton calculate resource tooltip">
          <span class="tooltip-text">{{localize "MTA.TooltipCalcMaxWisps"}}</span>
          <img src="systems/mta/icons/gui/calculate.svg" alt="Calculate max. wisps.">
        </div>
        {{localize "MTA.PrincesWisps"}}
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft">
          <input name="system.wisps.value" type="number" value="{{system.wisps.value}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
        <span class="delimiter"> / </span>
        <div class="niceNumber">
          <input name="system.wisps.max" type="number" value="{{system.wisps.max}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
      <div class="description">{{system.wisps_per_turn}} {{localize "MTA.WispsPerTurn"}}</div>
    </div>
  </div>
</div>

<div class="items-block">
  <div class="items-table">
    {{!-- Charms --}}
    <table class="item-table">
      <thead>
        <tr class="item-row header">
          <th class="cell header first"> 
            <span class="collapsible button fas fa-minus-square"> </span>
            <span class="sortable button" data-type="charm">{{localize "MTA.Charms"}}<i class="fas fa-sort"></i> </span>
          </th>
          {{#each inventory.charm.dataset}}
            <th class="cell header"> {{this}} </th>
          {{/each}}
          <th class="cell header"> </th>
          <th class="cell header button item-create" data-type="charm">{{ localize "MTA.ButtonAdd" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each inventory.charm.items as |item iid|}}
          <tr class="item-row item" data-item-id="{{item._id}}">
            <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
              <div class="item-name-wrapper">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <span> {{item.name}} </span>
              </div>
            </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{localizeCharmType system.charmType}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{system.level}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}">{{system.cost.value}} {{system.cost.misc}}</td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{system.action}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}">
              {{#if system.effects }}<i class="activeIcon {{#if system.effectsActive}} fas {{else}} far {{/if}} fa-dot-circle" title="Effects active" data-item-id="{{item._id}}"></i>{{/if}}
              <i class="favicon {{#if system.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
            </td>
            <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
              <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
              <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>